body {
  background-image: url("../images/black.png");
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #orange;
  color: #333;
  line-height: 1.6;
}

h1, h2 {
  font-family: 'Devonshire', cursive;
  color: orange;
}


.nav {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
	text-align: center;
}

.nav ul li {
  display: inline;
  margin-right: 15px;
	text-align: center;
}

.nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
	text-align: center;
}

.nav ul li a:hover {
  text-decoration: underline;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #e8f6f3;
  margin: 0;
  padding: 0;
  color: #333;
}

h1 {
  font-family: 'Devonshire', cursive;
  text-align: center;
  margin-top: 20px;
  font-size: 6em;
  color: #White;
}

h2 {
  font-size: 2em;
  color: #2980b9;
  margin-bottom: 15px;
}

p, ul, ol {
  font-size: 1.2em;
  color: #34495e;
  text-align: center;
  line-height: 1.6em;
  margin: 15px 0;
}


section {
  margin: 50px auto;
  max-width: 900px;
  padding: 20px;
  background-color: #ecf0f1;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

ul {
  text-align: left;
  padding: 0;
}

ul li {
  list-style-type: square;
  margin: 10px 0;
}

ol {
  list-style-type: decimal;
  margin: 15px auto;
}

img {
  display: block;
  margin: 20px auto;
  max-width: 80%;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.files a {
  text-decoration: none;
  color: #2980b9;
  font-weight: bold;
}

.files a:hover {
  color: #16a085;
}


footer {
  text-align: center;
  padding: 10px 0;
  background-color: #333;
  color: white;
  margin-top: 20px;
}

footer em {
  color: #4a90e2;
}
